:root {
    --background-color: #ffffff;
    --primary-color: #1199d8;
    --primary-color-dark: #065ea7;
    --text-color: #000000;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

nav {
    background-color: var(--primary-color);
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    padding: 1% 5% 1% 5%;
}

/*classes*/
.container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.a-blank {
    color: inherit
}

.a-blank:hover {
    color: white
}

.footer-icons {
    display: inline-flex;
    margin-left: auto;
}

.card {
    border-radius: 20px;
    background: lightblue;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 4px 20px 0 rgba(34, 68,123,0.2);
    cursor: pointer;
}

.card-image {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.card-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.card-content {
    padding: 2rem;
}

/*id*/
#main-body {
    margin: 2rem auto;
    max-width: calc(100% - 80px);
}

#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 2rem;
}
